extends ../layouts/main-layout.pug

block title
    title #{title}

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/cart.css")

block content
    main
        if products.length > 0
            ul.cart__item-list
                each product in products
                    li.cart__item
                        h1 #{product.title}
                        h2 Quantity: #{product.quantity}
                        form(action="/delete-cart-item", method="POST")
                            input(type="hidden", value=product._id, name="productId")
                            button(class="btn danger", type="submit") Delete
                form(action='/create-order', method="POST")
                    button(class="btn danger", type="submit") Order
        else
            h1 No Cart Items