extends ../layouts/main-layout.pug

block title
    title #{title}

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/cart.css")

block content
    if orders.length <= 0
        h1 Nothing there
    else
        ul.orders
            each order in orders
                li.orders__item
                    h1 Order - # #{order._id}
                    ul.orders__products
                        each product in order.items
                            li.orders__products-item #{product.title} (#{product.quantity})